@media (min-width: 320px) {
  img {
    width: 54%;
  }

  #helados,
  #heladosfondo {
    width: 88%;
  }

  #lomasmap,
  #lanusmap,
  #escaladamap {
    width: 88%;
  }

  .container-formulario {
    padding-top: 25px;
    text-align: center;
    align-items: center;
  }

  #captchaBackground {
    margin-left: 3px;
  }
}

@media (min-width: 992px) {
  img {
    width: auto;
  }

  .sociales a {
    color: $colortexto;
    font-size: 100px !important;
    margin: 40px !important;
    align-self: center;
  }

  #helados,
  #heladosfondo {
    width: 70%;
  }

  #lomasmap,
  #lanusmap,
  #escaladamap {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  #heladosfondo {
    width: 42%;
  }

  #lomasmap,
  #lanusmap,
  #escaladamap {
    width: 95%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $colorfondo;
}

.header_logo {
  text-align: center;
  padding-left: 20px;
}